# Required
APP_NAME = app-name
VERSION = 1.0.0
RUNTYPE = express

# Required for Node
NODE_ENV = development
PORT = 3000

# Required for Mongo
MONGO_CONNECTION = mongodb://localhost:27017/app_name_db

# Required for MySQL
MYSQL_HOST = 127.0.0.1
MYSQL_USER = user
MYSQL_PASSWORD = password
MYSQL_DATABASE = database

# Required for Express
SECRET = secret

# Required for JWT
JWT_SECRET = jwt secret
JWT_EXPIRE_TIME = 10

# Required for Winston
LOGGER_JSON = true
LOGGER_STRINGIFY = true
LOGGER_COLORIZE = true
LOGGER_PRETTIFY = true
LOGGER_READABLE_EXCEPTION = true
LOGGER_TIMESTAMP = true
LOGGER_LEVEL = 1
LOGGER_HTTP_META = true

# Security
IS_CSRF_PROTECTED = false

# Required for Mail
MAIL_USERNAME =
MAIL_PASSWORD =
